@tailwind base;
@tailwind components;
@tailwind utilities;

.menu .focus {
  color: black !important;
}

@layer components {
  [data-theme="light-7007"] .card {
    @apply border-neutral-50;
    background-color: theme("colors.white");
    border-radius: 6px;
  }

  .tabs-bordered > .tab {
    border-color: transparent;
  }

  :where(.timeline > li) {
    grid-template-columns: 0 auto var(--timeline-col-end, minmax(0, 1fr));
  }

  .label {
    @apply pl-0;
  }

  .modal-box {
    @apply rounded-md;
  }

  .badge {
    @apply rounded-md h-auto;
  }

  .my-tooltip:before {
    white-space: pre;
  }

  .timeline {
    &:not(.timeline-vertical) > li {
      @apply flex-1 grid-rows-1;
    }

    &.timeline-vertical > li {
      @apply auto-cols-max;
    }
  }
  .timeline-vertical {
    @apply flex-1;
  }

  .timeline-end {
    @apply justify-self-start;
  }

  .timeline-vertical .timeline-end {
    @apply justify-self-stretch;
  }
}

@layer utilities {
  .heading-md {
    @apply text-[24px] leading-[28px] text-neutral-700 font-semibold;
  }
  .heading-lg {
    @apply text-[32px] leading-[40px] text-neutral-700 font-bold;
  }
}
